/* GRID Index */

.contenedor-index{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: 
    "freeS freeS freeS"
    "header header header"
    "main main main"
    "footer footer footer"
    ;
}

/* Index FreeShipping */

.free-shipping{
        grid-area: freeS;
        display: flex;
        background-color: black;
        color: white;
        height: 3rem;
        justify-content: center;
        align-items: center;
        h4{
            text-align: center;
            font-weight: 500;
            padding-top: 0.5rem;
        }
}

.bg-secondary {
    background-color: green !important;
    margin-top: 0.2rem;
}

/* INDEX HEADER */

.header{
    grid-area: header;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "logo nav ."
    ;
    justify-items: center;
    align-items: center;
    margin-top: 1.5rem;
}

.header-logo{
    grid-area: logo;
}

.header-nav{
    grid-area: nav;
    ul{
        li{
            display: inline-block;
        }
    }
}

.header-nav2{ 
    ul{
        list-style-type: none;
        }
    a{
        text-decoration: none;
        color: #262626;
        font-weight: 500;
        font-size: 1.5rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        a:hover{
            text-decoration: underline;
        }
    }
}

/* INDEX MAIN */

.main{
    grid-area: main;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 0.3fr 0.5fr 0.5fr 0.5fr;
    grid-template-areas: 
    "photo"
    "section1"
    "section2"
    "section3"
    "section4"
    ;
    justify-items: center;
    align-items: center;
}

.main-photo{
    grid-area: photo;
    background-image: url(../images/BackgroundSection.webp);
    width: 100%;
    height: 56rem;
    background-size: cover;
    margin-bottom: 1.5rem;
}

/* MAIN SECTION 1 */

.main-section1{
    grid-area: section1;
    border: solid;
    border-left: none;
    border-right: none;
    border-width: 0.2rem;
}

.main-section1-title h2{
    text-align: map-get($titulos, $alineacion);
    font-weight: map-get($titulos , $fuente);
    margin-top: map-get($titulos, $margin);
    font-size: $title-size;
}

.main-section1-text p{
    text-align: map-get($textos, $alineacion);
    font-weight: map-get($textos, $fuente);
    margin: 1.5rem;
    font-size: $text-size;
    margin-bottom: 1.5rem;
    margin-left: 40rem;
    margin-right: 40rem;
    word-spacing: map-get($textos, $spacing);
}

/* MAIN SECTION 2 */

.main-section2{
    grid-area: section2;
    width: 100%;
}

.main-section2-title h2{
    @extend .main-section1-tittle;
}

.main-section2-photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
    img:hover{
        width: 110%;
        height: 110%;
    }
}

.rojo{
    background-color: red !important;
}


/* MAIN SECTION 3 */

.main-section3{
    grid-area: section3;
    border-top: solid;
    border-width: 0.2rem;
}

.main-section3-title h2{
    @extend .main-section1-tittle;
}

.main-section3-text p{
    @extend .main-section1-text;
}

/* MAIN SECTION 4 */

.main-section4{
    grid-area: section4;
    width: 100%;
}

.main-section4-items{
    margin: 1rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    h2{
        @extend .main-section1-tittle;
    }
    p{
        @extend .main-section1-text;
    }
}

/* INDEX FOOTER */

.footer{
    background: black;
    grid-area: footer;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "logo texto links"
    "submit texto socialmedia"
    ;
    justify-items: center;
    align-items: center;
}

/* logo */

.footer-logo{
    grid-area: logo;
}

/* text */

.footer-text {
    grid-area: texto;
    margin-bottom: 4rem;
    font-weight: 300;
    font-size: small;
    p{
        color: #9fa0a1;
    }
}

/* links */

.footer-links{
    grid-area: links;
    list-style-type: none;
        li{
            h4{
            color: white;
            font-weight: 500;
            font-size: 1rem;
            margin-top: 1.5rem;
            }
            a{
                text-decoration: none;
                color: #9fa0a1;
                font-weight: 300;
                font-size: 0.7rem;
                    a:hover{
                    text-decoration: underline;
                    color:white
                    }
            }
        }
}

/* email */

.footer-submit{
    grid-area: submit;
    h4{
        color: white;
        font-weight: 500;
        font-size: medium;
    }
    form{
        margin: 1rem;
    }
}

/* social media */

.footer-socialmedia{
    grid-area: socialmedia;
    justify-self: center;
    align-self: center;
}